@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav,
.header,
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

.nav {
    justify-content: space-around;
    padding: 10px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    list-style-type: none;
    gap: 10px;
}

.links a {
    text-decoration: none;
    color: #e5e7eb;
}

.header {
    padding: 20px;
    justify-content: center;
    gap: 20px;
}

.header div {
    flex-basis: 400px;
}

.header-txt h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8
}

img{
    border-radius: 10px;
}

.img img {
    width: 300px;
    height: auto;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
}

.info {
    flex-direction: column;
    padding: 15px;
    gap: 15px;
}

.container {
    gap: 10px;
}

.item {
    flex-basis: 200px;
    flex-direction: column;
}

.box {
    width: 200px;
    border-radius: 5px;
}

.item p {
    text-align: center;
}

.box img {
    width: 150px;
    height: 150px;
}

.quote {
    background-color: #e5e7eb;
    padding: 40px;
    color: #1f2937;
    flex-direction: column;
    gap: 15px;
}

.quote p {
    width: 800px;
}

.citation {
    margin: 0 auto;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.author {
    margin: 0 auto;
    font-size: 30px;
    text-align: right;
    font-weight: bold;
}

.call {
    padding: 50px;
}

.call .container {
    justify-content: space-around;
    gap: 20px;
    background-color: #3882f6;
    padding: 50px 70px;
    border-radius: 10px;
    color: #f9faf8;
}

.call button {
    border: 1px solid #f9faf8;
}

.footer {
    padding: 20px;
}